 body,
 html {
     height: 100%;
     margin: 0;
     font: 400 15px/1.8 "Lato", sans-serif;
     color: #777;
 }
 
 p {
     margin: 5px;
     font-size: 18px;
 }
 
 .header {
     color: #fff;
     text-align: center;
     padding: 20px 30px;
     text-align: center;
     font: 40px "Lato", sans-serif;
     letter-spacing: 10px;
 }
 /*Content with white background*/
 
 .whiteBg {
     color: #777;
     text-align: center;
     padding: 50px 80px;
     text-align: justify;
 }
 /*Background images for parallax */
 
 .bgimg-1,
 .bgimg-2,
 .bgimg-3 {
     position: relative;
     opacity: 0.85;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .bgimg-1 {
     background-image: url("../../assets/img/bg/bg_six.jpg");
     min-height: 400px;
 }
 
 .bgimg-2,
 {
     background-image: url("../../assets/img/bg/bg_four.jpg");
     min-height: 400px;
 }
 
 .bgimg-3 {
     background-image: url("../../assets/img/bg/bg_three.png");
     min-height: 400px;
 }
 
 .caption {
     position: absolute;
     left: 0;
     top: 50%;
     width: 100%;
     text-align: center;
     color: #000;
     text-decoration: none;
 }
 
 .caption span.border {
     background-color: #111;
     color: #fff;
     padding: 18px;
     font-size: 25px;
     letter-spacing: 5px;
 }
#shopingCart{
     position: absolute;
     font-size: 30px;
     left: 0;
     top: 60%;
     width: 100%;
     text-align: center;
     color: #fff;
} 
 h1,
 h2,
 h3,
 h4 {
     letter-spacing: 2px;
     text-transform: uppercase;
     font: 18px "Lato", sans-serif;
     color: #111;
     margin-top: 10px;
     margin-bottom: 10px;
     text-align: center;
 }
 
 h4 {
     font-size: 15px;
 }
 
 h1 {
     font-size: 40px;
     padding: 20px;
     margin-bottom: 40px;
     /*border: 1px solid #111;*/
 }
 
 h2 {
     font-size: 25px;
     padding: 10px;
     margin-bottom: 40px;
     border: 1px solid #111;
 }
 /* Turn off parallax scrolling for tablets and phones */
 
 @media only screen and (max-device-width: 1024px) {
     .bgimg-1,
     .bgimg-2,
     .bgimg-3 {
         background-attachment: scroll;
     }
 }
 
 .img-portfolio. .img-responsive {
     margin-bottom: 30px;
 }
 
 .img-hover:hover {
     opacity: 0.9;
     -moz-transform: scale(1.1);
     transition: 0.9s;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
 }
 
 .img-center {
     margin: 0 auto;
     border: 1px solid grey;
     background-color: #eeefea;
 }
 
 .img-side {
     margin: 0 auto;
     margin-top: 40px;
     border: 1px solid grey;
     background-color: #eeefea;
 }
 
 .img-responsive {
     width: auto;
 }
 /*Modal Styles*/
 
 .modal-dialog {
     width: 80%;
     height: auto;
     padding: 0;
     margin: 0 auto;
 }
 
 .modal-content {
     height: 100%;
     min-height: 100%;
     height: auto;
     border-radius: 0;
 }
 /*list item*/
 
 .list-group .list-group-item {
     padding-bottom: 2px;
     box-shadow: none;
 }
 
 .label-text {
     text-transform: uppercase;
     font-weight: bold;
 }
